@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  width: 600px;
  margin-bottom: 20px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 6px 16px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

.header>ul,
.footer>ul {
  list-style: none;
}

.header,
.footer,
.left-links,
.right-links {
  display: flex;
}

.header,
.footer {
  justify-content: space-between;
  margin: 0;
  padding: 0 16px;
}

.header a,
.footer a {
  text-decoration: none;
  color: #666;
}

.footer {
  background-color: rgba(238, 238, 238, 1.00);
}

.left-links,
.right-links {
  display: flex;
  padding: 0;
  gap: 16px;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
}